<meta charset="utf-8">
<meta http-equiv="refresh" content="60">
{% extends 'base/base.html'%}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<center>

	<br>
	<br>

<p><a class="text-white"><h3>La Dosis actual es:</h3></p>
<br>
<div class="p-3 mb-2 bg-warning text-dark"><h1>{{dose}} mCi</h1></div>
<br>
<br>
<p><a class="text-white"><h4>La cantidad restante es:</h4></p>
<div class="p-3 mb-2 bg-warning text-dark"><h2>{{mlrest}} mL</h2></div>
<br>
<br>
<p><a class="text-white"><h4>Numero de dosis administradas:</h4></p>
<div class="p-3 mb-2 bg-warning text-dark"><h2>{{pctes}} Dosificaciones</h2></div>
</center>
{% endblock %}